@font-face {
    font-family: 'HelveticaNeue lt';
    src: url('../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf') format('truetype');
    font-weight: light;
    font-style: normal;   
}
@font-face {
    font-family: 'HelveticaNeue bold';
    src: url('../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;   
}

/* reset */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:#FFFFFF;
}
.container {
    width: 100%;
    max-width: 74.6875rem;
    margin: 0 auto;
    padding: 0;
}

/* header */

header {
    background-color: #0020F4;
    width: 100%;
    height: 24.2225rem;
    margin: 0;
    padding-top: 1.625rem;
}
.header-div{
    display: flex;
    justify-content: space-between;
    
}
.logo {
    width: 7.1875rem;
    height: 4.0625rem;
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:0rem;
    padding: 0;
}
.nav-list > li{
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #707070;
    letter-spacing: 0rem;
}
.nav-list li:hover {
    text-decoration: underline;
    text-decoration-color: #374dde;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.30rem;
}
.nav-list li:nth-child(1) {
    margin-right: 2.6875rem;
}
.nav-list li:nth-child(2) {
    margin-right: 3.3125rem;
}
.nav-list li:nth-child(3) {
    margin-right: 2.8125rem;
}
.nav-list li:nth-child(4) {
    margin-right: 2.625rem;
}
.nav-list li:nth-child(5) {
    margin-right: 2.625rem;
}

.header-btn{
    display: block;
    width: 10rem;
    height: 3.4375rem;
    color: #171717;
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: #FFFFFF;
    border: solid 0rem;
    border-radius: 28px;
    cursor: pointer;
    display:block;
    margin-right: -7.3125rem;
    
}
.header-btn:hover{
    background-color: #374dde;
    color: #FFFFFF;
}
/* project section */
.section-project{
    background-color: #0020F4;
    margin-top: 2.5rem;
    /* margin shoud be removed after merging with the header */
    width: 100%;
    height: 19.25rem;  
}
.project-container{
    max-width: 74.6875rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

}
.project-button{
    font-family: "HelveticaNeue bold", Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4375rem;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 4.375rem;
}
.dots-container{
    width: 4.375rem;
    height: 0.625rem;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    position: absolute;
    top: 5.25rem;
    right: 0;;
}
.dot{
    width: 0.625rem;
    height: 0.625rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}
.dot:nth-child(n+2){
    background-color: #ffffff ;
    opacity: 0.3;
    /* just in case, if we add more cards there is no need to add other child bckrnd opacity */
}
/* .img-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.project-image{
    width: 28.9375rem;
    height: 26.25rem;
    position: absolute;
} */
